<!DOCTYPE html>
<html>

<head>
    <title>Raw </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- font awesome link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
  <div style="text-align: center; padding: 50px;  ">
  <h4><strong> Click here to get recipe list  _</strong>
       <button id="toggleForm" class="btn btn-primary"
        onmouseover="this.style.backgroundColor='#08b510'; this.style.transform='scale(1.1)';"
        onmouseout="this.style.backgroundColor='#007bff'; this.style.transform='scale(1)';"
        onclick="toggleForm();">View Create Recipe</button></h4>
 
</div>
<section id="formSection" class="container" style="display: none;">

    <div>
        <h1 align="center">Raw Material List</h1>
     <form action="/delete-task" method="GET">
            <table class="table">
                <thead>
                    <tr>
                        <th>Select</th>
                        <th>Product Name/code Task</th>
                        <th>Fetching raw Material/Quantity</th>
                        <th>current_cost</th>
                      <th>RawMaterial Name</th>
                      <th>vendor_information</th>
                        <th>Total Cost</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <% for (let i of tasks) { %>
                        <% const rawMaterial = i.rawmaterials_id; %>
                        <% const vendorInfo = rawMaterial ? rawMaterial.vendor_information : ''; %>
                        <tr>
                            <td><input type="checkbox" name="taskId" value="<%= i._id %>"></td>
                            <td>
                                <p id="task-description"><%= i.description %></p>
                              </td>
                              <td>
                                <% if (Array.isArray(i.rawMaterial)) { %>
                                    <% let j=0 %>
                                  <% i.rawMaterial.forEach(function(material) { %>
                                    <% if (material.Materialname) { %>
                                      <p id="task-rawMaterialMaterialname">
                                        <%= material.Materialname %>
                                      </p>
                                    <% } %>
                                  <% }); %>
                                <% } %>
                              </td> 
                               <td>
                                <% if (Array.isArray(i.rawMaterial)) { %>
                                    <% let j=0 %>
                                  <% i.rawMaterial.forEach(function(material) { %>
                                    <% if (material.Materialname) { %>
                                      <p id="task-rawMaterialMaterialname">
                                        <%= material.current_cost %>
                                      </p>
                                    <% } %>
                                  <% }); %>
                                <% } %>
                              </td>
                              <td>
                                
                                <% if (Array.isArray(i.rawMaterial)) { %>
                                    <% i.rawMaterial.forEach(function(material, index) { %>
                                      <% if (material.Materialname) { %>
                                        <p id="task-rawMaterialMaterialname">
                                          <strong>Quantity:</strong>
                                          <%= i.quantities[index] %>
                                        </p>
                                      <% } %>
                                    <% }); %>
                                  </div>
                                <% } %>
                              </td>
                              <td>
                                <% if (Array.isArray(i.rawMaterial)) { %>
                                    <% let j=0 %>
                                  <% i.rawMaterial.forEach(function(material) { %>
                                    <% if (material.Materialname) { %>
                                      <p id="task-rawMaterialMaterialname">
                                        <%= material.vendor_information %>
                                      </p>
                                    <% } %>
                                  <% }); %>
                                <% } %>
                              </td>
                              <td>
                                <p id="task-Price"><%= i.Price.toFixed(2) %></p>
                              </td>
                              <%}%>
                </tbody>
            </table>
            <div align="center">
                <input type="submit" class="btn btn-danger" value="DELETE ITEMS">
            </div>
        </form>
    </div>
  </section>

  <script>
    const toggleFormButton = document.getElementById('toggleForm');
    const formSection = document.getElementById('formSection');

    toggleFormButton.addEventListener('click', function() {
        if (formSection.style.display === 'none') {
            formSection.style.display = 'block';
            toggleFormButton.innerText = 'Close Recipe';
        } else {
            formSection.style.display = 'none';
            toggleFormButton.innerText = 'View Create Recipe';
        }
    });
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbwhIcB5f5O5/8xvI890U6aw5K4Uar5+g827wn6"
        crossorigin="anonymous"></script>
</body>
</html>
